---
import BentoItem from "./BentoItem.astro";
import Section from "./Section.astro";

type Bento = {
    title: string;
    description: string;
    image: string;
    animation: string;
    id: string;
    rowSpan: string;
};

const BENTO: Bento[] = [
    {
        title: "Mobile friendly",
        description:
            "Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.",
        image: "https://tailwindui.com/plus/img/component-images/bento-03-mobile-friendly.png",
        animation: "card-mobile",
        id: "mobile",
        rowSpan: "col-span-10 lg:col-span-4",
    },
    {
        title: "Performance",
        description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit maiores impedit.",
        image: "https://tailwindui.com/plus/img/component-images/bento-03-performance.png",
        animation: "card-performance",
        id: "performance",
        rowSpan: "col-span-10 lg:col-span-6",
    },
    {
        title: "Security",
        description:
            "Morbi viverra dui mi arcu sed. Tellus semper adipiscing suspendisse semper morbi.",
        image: "https://tailwindui.com/plus/img/component-images/bento-03-security.png",
        animation: "card-security",
        id: "security",
        rowSpan: "col-span-10 lg:col-span-6",
    },
    {
        title: "Powerful APIs",
        description:
            "Sit quis amet rutrum tellus ullamcorper ultricies libero dolor eget sem sodales gravida.",
        image: "https://tailwindui.com/plus/img/component-images/bento-02-integrations.png",
        animation: "card-powerful",
        id: "powerful",
        rowSpan: "col-span-10 lg:col-span-4",
    },
];

const title = "The time tracker that prioritizes –";
---

<Section class="max-w-screen-xl mx-auto">
    <h2 class="text-2xl lg:text-5xl text-center font-semibold text-dark lg:px-56">{title}</h2>
    <div
        class="w-full lg:max-w-[1280px] grid lg:grid-cols-10 lg:auto-rows-[25rem] gap-4 mx-auto p-4 lg:p-16"
    >
        {
            BENTO.map(({ title, description, id, image, rowSpan }) => (
                <BentoItem
                    class={rowSpan}
                    title={title}
                    description={description}
                    image={image}
                    id={id}
                />
            ))
        }
    </div>
</Section>

<!-- <style>
    #mobile {
        animation: card-mobile linear both;
        animation-range: entry 10% cover 40%;
        animation-timeline: view();
    }
    #powerful {
        animation: card-powerful linear both;
        animation-range: entry 10% cover 40%;
        animation-timeline: view();
    }
    #performance {
        animation: card-performance linear both;
        animation-range: entry 10% cover 40%;
        animation-timeline: view();
    }
    #security {
        animation: card-security linear both;
        animation-range: entry 10% cover 40%;
        animation-timeline: view();
    }
    @keyframes card-mobile {
        0% {
            opacity: 0;
            transform: translate(-200px, 0);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    @keyframes card-powerful {
        0% {
            opacity: 0;
            transform: translate(200px, 0);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    @keyframes card-performance {
        0% {
            opacity: 0;
            transform: translate(0, -200px);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    @keyframes card-security {
        0% {
            opacity: 0;
            transform: translate(0, 200px);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
</style> -->
